.App {
  text-align: center;
}
.App>h1 {
  text-shadow: 1px 1px 4px #00695C;
}
.questiondiv  {
  box-shadow: 3px 5px 15px gray;

  max-width: 450px;
  margin: 0 auto;
  height: 350px;
  padding: 5px 5px;
  
}
.question {
  font-weight: bold;
}
.question-contain {
  padding: 20px 10px;
  margin-top: 20px;
}

  


.show { 
  background-color: green;

}
.hidden {
  background-color: red;
}
.options-container >button {
  width: 100%;
  border: none;
  box-shadow: 3px 5px 9px gray;
  border-radius: 2px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 6%;
  cursor: grab;
}

.submit-button {
  background-color: #004D40;
  width: 90%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: grab;
  
}
h5  {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 8px;
}


.start-button {
  width: 180px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 27px;
  margin-top: 12%;
  cursor: grab;
  box-shadow: 2px 2px 2px gray;
  border: none;
  margin-bottom: 40%;
  background-color: antiquewhite;


}
.score {
  font-size: 30px;
  justify-content: center;
}